*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.people_back {
  width: 25%;
  height: 100%;
  overflow: hidden;
  background: url('./back.jpg') center center;
}
.people_pic img {
  margin-bottom: 50px;
}
.people_bio_back {
  background-color: #fff;
  box-shadow: 1px 1px 2px 2px #ccc;
  width: 70%;
  height: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}
.people_bio_back ul li {
  margin: 15px auto;
}
.people_heading{
    width: 75%;
    position: relative;
    padding:  50px;
    display: flex;
    height: 100%;
}
.people_content{
  flex: 1;
  width: 100%;
  height: 100%;
}
.people_content p {
  letter-spacing: 0.005em;
  font-size: 21px;
  line-height: 32px;
  font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  overflow-wrap: break-word;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}
.icons{
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 100px;
}
.icons a{
  width: 60px;
  margin: 10px;
}.icons a:hover{
transform: scale(1.1);
}
.people_footer{

}
@media (max-width: 730px) {
    .people_heading p {
      font-size: 16px;
    }
  }
  
  
