{% extends 'base.html' %}
{% load static %}
{% block title %}
    ACM IIIT Delhi | Home
{% endblock %}
{% block main %}
<main>
    <script src="/static/src/js/index.js"></script>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
        <div class="absolute top-0 w-full h-full bg-center bg-cover"
            style='background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'>
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">
                            ACM IIIT Delhi Student Chapter
                        </h1>
                        <p class="mt-4 text-lg text-gray-300">
                            “ACM brings together computing educators, researchers, and professionals to inspire
                            dialogue, share
                            resources, and address the field's challenges. As the world’s largest computing society, ACM
                            strengthens
                            the profession's collective voice through strong leadership, promotion of the highest
                            standards, and
                            recognition of technical excellence.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
            style="height: 70px; transform: translateZ(0px);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="flex flex-wrap items-center mt-32">
                    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                        <div
                            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100">
                            <i class="fa fa-user-friends text-xl"></i>
                        </div>
                        <h3 class="text-3xl mb-2 font-semibold leading-normal">
                            What we represent?
                        </h3>
                        <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                            At the IIIT-Delhi student chapter of ACM, we believe in developing an active and extensive
                            platform
                            where
                            students can gain global exposure to a range of ideas and knowledge that the field of
                            computing has
                            offered.
                        </p>
                        <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                            Since our establishment in October 2009, we have aimed to propagate interest among students
                            in computer
                            science, to provide opportunities to them that help them hone their computer science skills
                            and
                            inculcate
                            the spirit of research in them. We are working relentlessly to achieve this aim through
                            organizing
                            events
                            on different domains by speakers experienced in these areas. Under the guidance of our
                            faculty advisor
                            Dr.
                            Rajiv Ratn Shah, we, ACM IIIT-Delhi Student Chapter are constantly evolving and growing
                            towards
                            betterment.
                        </p>
                    </div>
                    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                        <div
                            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
                            <img alt="..."
                                src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1051&amp;q=80"
                                class="w-full align-middle rounded-t-lg" />
                            <blockquote class="relative p-8 mb-4">
                                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                                    class="absolute left-0 w-full block" style="height: 95px; top: -94px;">
                                    <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
                                </svg>
                                <h4 class="text-xl font-bold text-white">
                                    Why should you become an ACM Student Chapter Member?
                                </h4>
                                <p class="text-md font-light mt-2 text-white">
                                    Individuals who are members of Chapters are known as ACM Chapter Members; ACM
                                    Chapter Members are
                                    eligible for a number of member benefits. Click 'Read more' to know about them.
                                </p>
                            </blockquote>
                            <div class="p-8 relative">
                                <a href="#" class="pt-16 mt-2 text-white font-bold">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="relative py-20">
        <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
            style="height: 80px; transform: translateZ(0px);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <div class="container mx-auto px-4">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                    <img alt="..." class="max-w-full rounded-lg shadow-lg"
                        src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" />
                </div>
                <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                    <div class="md:pr-12">
                        <div
                            class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
                            <i class="fa fa-rocket text-xl"></i>
                        </div>
                        <h3 class="text-3xl font-semibold">Our Vision</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">
                            “We see a world where computing helps solve tomorrow’s problems – where we use our knowledge
                            and skills
                            to advance the profession and make a positive impact.” At ACM IIIT Delhi Student Chapter, we
                            have some
                            clear directions towards which we make efforts & build our club. We majorly focus on the
                            following
                            objectives :-
                        </p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">
                                            Working towards advancing computing as a science and a profession
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Serving as a dynamic hub of activities for the
                                            computing fraternity of
                                            IIIT Delhi</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Providing students a platform where they are exposed
                                            to a plethora of
                                            ideas, knowledge, and trends in computing</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Uniting educators, researchers, students, and
                                            professionals to inspire
                                            dialogue, share resources, and address the field’s challenges.</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Supporting its members’ professional growth by
                                            providing learning,
                                            networking, and career development opportunities.</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Creating interest among the students in various
                                            diverse topics of the
                                            computing field</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Fostering technical initiatives and innovation among
                                            students.</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-pink-600 bg-pink-200 mr-3"><i
                                                class="far fa-paper-plane"></i></span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Having a fun and enjoyable experience for its members!
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center text-center mb-24">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold">Our team</h2>
                </div>
            </div>
            <div class="flex flex-wrap">

                {% for i in team %}
                    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                        <div class="px-6">
                            <img alt="..." src="{{i.image.url}}"
                                class="shadow-lg rounded-full max-w-full mx-auto" style="max-width: 120px;" />
                            <div class="pt-6 text-center">
                                <h5 class="text-xl font-bold">{{i.name}}</h5>
                                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                                    {{i.designation}}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a href="{% url 'members' %}" class="mx-auto">
                    <div
                        class="mt-16 border-4 h-30 w-72 text-pink-500 hover:text-white hover:bg-pink-500 text-center rounded-full p-4 border-pink-500 font-bold">
                        Click here to see our full team
                    </div>
                </a>
            </div>
        </div>

    </section>
</main>
{% endblock %}