{% extends 'base.html' %}
{% load static %}
{% block title %}
    ACM IIIT Delhi | Members
{% endblock %}
{% block main %}
    <main>
        <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
            <div class="absolute top-0 w-full h-full bg-center bg-cover"
                style='background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'>
                <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
            </div>
            <div class="container relative mx-auto">
                <div class="items-center flex flex-wrap">
                    <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                        <div class="pr-12">
                            <h1 class="text-white font-semibold text-5xl">
                                Our Team
                            </h1>
                            <p class="mt-4 text-lg text-gray-300">
                                “Something good on teamwork and stuff”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="pt-20 pb-48">
            {% for i in sections %}
            <div class="container mx-auto pt-20">
                <div class="flex flex-wrap justify-center text-center mb-24">
                    <div class="w-full lg:w-6/12 px-4">
                        <h2 class="text-4xl font-semibold">{{i.heading}}</h2>
                    </div>
                </div>
                <div class="flex flex-wrap mx-auto">
                    {% for j in i.members %}
                    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                        <div class="px-6">
                            <img alt="..." src="{{j.image.url}}" class="shadow-lg rounded-full max-w-full mx-auto"
                                style="max-width: 120px;" />
                            <div class="pt-6 text-center">
                                <h5 class="text-xl font-bold">{{j.name}}</h5>
                                <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                                    {{j.batch}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </section>
    </main>

{% endblock %}